# 1- Importing Libraries.

In [1]:
import pandas as pd

In [2]:
raw_sales = pd.read_json("data-uncomp/Sales.json")
raw_forecast = pd.read_json("data-uncomp/forecast.json")

raw_forecast.head()
#print(raw_sales.head())

  CountryRegion            Brand  Forecast  Year
0         China         A. Datum    201487  2009
1         China  Adventure Works    399490  2009
2         China          Contoso   1173308  2009
3         China         Fabrikam    790074  2009
4         China          Litware    437443  2009

In [3]:
#raw_sales.head(5000).to_json("sales-part1.json")
raw_sales.head()

,ProductKey,Product Name,Brand,Color,Subcategory,Category,CustomerKey,Customer Code,Name,Education,Occupation,Continent,City,State,CountryRegion,OrderDate,Quantity,Net Price
0,2492,Cigarette Lighter Adapter for Contoso Phones E...,Contoso,Cell phones Accessories,Cell phones Accessories,Cell phones,18813,CS551,None,None,None,North America,Spokane,Washington,United States,1/1/2008,1,23.7405
1,2492,Cigarette Lighter Adapter for Contoso Phones E...,Contoso,Cell phones Accessories,Cell phones Accessories,Cell phones,18813,CS551,None,None,None,North America,Spokane,Washington,United States,1/1/2008,1,23.7405
2,2492,Cigarette Lighter Adapter for Contoso Phones E...,Contoso,Cell phones Accessories,Cell phones Accessories,Cell phones,18813,CS551,None,None,None,North America,Spokane,Washington,United States,1/1/2008,1,23.7405
3,2492,Cigarette Lighter Adapter for Contoso Phones E...,Contoso,Cell phones Accessories,Cell phones Accessories,Cell phones,18813,CS551,None,None,None,North America,Spokane,Washington,United States,1/1/2008,1,23.7405
4,2492,Cigarette Lighter Adapter for Contoso Phones E...,Contoso,Cell phones Accessories,Cell phones Accessories,Cell phones,18813,CS551,None,None,None,North America,Spokane,Washington,United States,1/1/2008,1,23.7405

# 2- Exploring Dataset.

In [4]:
raw_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298246 entries, 0 to 298245
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ProductKey     298246 non-null  int64
 1   Product Name   298246 non-null  object
 2   Brand          298246 non-null  object
 3   Color          298246 non-null  object
 4   Subcategory    298246 non-null  object
 5   Category       298246 non-null  object
 6   CustomerKey    298246 non-null  int64
 7   Customer Code  298246 non-null  object
 8   Name           29797 non-null   object
 9   Education      29797 non-null   object
 10  Occupation     29797 non-null   object
 11  Continent      298246 non-null  object
 12  City           298246 non-null  object
 13  State          298246 non-null  object
 14  CountryRegion  298246 non-null  object
 15  OrderDate      298246 non-null  object
 16  Quantity       298246 non-null  int64
 17  Net Price      298246 non-null  float64
dtypes: float64(1), int64(3), object(14)
memory usage: 41.0+ MB

In [5]:
raw_forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryRegion  33 non-null     object
 1   Brand          33 non-null     object
 2   Forecast       33 non-null     int64
 3   Year           33 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [6]:
df_sales = raw_sales.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df_forecast = raw_forecast.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [7]:
df_sales.isnull().sum()

ProductKey            0
Product Name          0
Brand                 0
Color                 0
Subcategory           0
Category              0
CustomerKey           0
Customer Code         0
Name             268449
Education        268449
Occupation       268449
Continent             0
City                  0
State                 0
CountryRegion         0
OrderDate             0
Quantity              0
Net Price             0
dtype: int64

In [8]:
df_sales["Occupation"].value_counts()

Occupation
Skilled Manual    8002
Professional      6835
Clerical          5336
Management        5267
Manual            4357
Name: count, dtype: int64

In [9]:
df_sales["Education"].value_counts()

Education
Partial College        8071
Bachelors              7124
High School            6541
Graduate Degree        4942
Partial High School    3119
Name: count, dtype: int64

In [10]:
df_sales["Name"].value_counts()

Name
Edwards, Isaiah    16
Scott, Katelyn     15
Sanders, Jesse     14
Davis, Logan       14
Navarro, Darren    14
                   ..
Wilson, Ryan        1
Alonso, Desiree     1
Alonso, Craig       1
Goel, Kelli         1
Lopez, Amber        1
Name: count, Length: 8584, dtype: int64

# Data Cleaning

### Handling duplicates

In [11]:
df_sales.duplicated().sum()

218008

In [12]:
df_sales = df_sales.drop_duplicates()

### Handling Null Values

In [13]:
categorical_cols = ['Name', 'Education', 'Occupation']
df_sales[categorical_cols] = df_sales[categorical_cols].fillna('Unknown')

df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80238 entries, 0 to 298245
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductKey     80238 non-null  int64
 1   Product Name   80238 non-null  object
 2   Brand          80238 non-null  object
 3   Color          80238 non-null  object
 4   Subcategory    80238 non-null  object
 5   Category       80238 non-null  object
 6   CustomerKey    80238 non-null  int64
 7   Customer Code  80238 non-null  object
 8   Name           80238 non-null  object
 9   Education      80238 non-null  object
 10  Occupation     80238 non-null  object
 11  Continent      80238 non-null  object
 12  City           80238 non-null  object
 13  State          80238 non-null  object
 14  CountryRegion  80238 non-null  object
 15  OrderDate      80238 non-null  object
 16  Quantity       80238 non-null  int64
 17  Net Price      80238 non-null  float64
dtypes: float64(1), int64(3), object(14)
memory usage: 11.6+ MB

In [14]:
df_sales["Education"].value_counts()

Education
Unknown                50441
Partial College         8071
Bachelors               7124
High School             6541
Graduate Degree         4942
Partial High School     3119
Name: count, dtype: int64

### Fix Data Type

In [15]:
df_sales['OrderDate'] = pd.to_datetime(df_sales['OrderDate'])
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80238 entries, 0 to 298245
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductKey     80238 non-null  int64
 1   Product Name   80238 non-null  object
 2   Brand          80238 non-null  object
 3   Color          80238 non-null  object
 4   Subcategory    80238 non-null  object
 5   Category       80238 non-null  object
 6   CustomerKey    80238 non-null  int64
 7   Customer Code  80238 non-null  object
 8   Name           80238 non-null  object
 9   Education      80238 non-null  object
 10  Occupation     80238 non-null  object
 11  Continent      80238 non-null  object
 12  City           80238 non-null  object
 13  State          80238 non-null  object
 14  CountryRegion  80238 non-null  object
 15  OrderDate      80238 non-null  datetime64[ns]
 16  Quantity       80238 non-null  int64
 17  Net Price      80238 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(13)
memory usage: 11.6+ MB

# Data Loading

In [16]:

df_sales.to_csv("output/sales_transformed.csv" , index=False)
df_forecast.to_csv("output/forecast_transformed.csv" , index=False)

# Data Modelling

### Normalize tables in 3NF to apply STAR Schema.

### Dimensional Product

In [17]:
dim_product = df_sales[['ProductKey', 'Product Name', 'Brand', 'Color', 'Subcategory', 'Category']].drop_duplicates()

### Dimensional Customer

In [18]:
dim_customer = df_sales[['CustomerKey', 'Customer Code', 'Name', 'Education', 'Occupation']].drop_duplicates()

### Dimensional Region

In [19]:
dim_region = df_sales[['Continent', 'City', 'State', 'CountryRegion']].drop_duplicates().reset_index(drop=True)
dim_region.insert(0, 'RegionKey', range(1, len(dim_region) + 1))

### Dimensional Date

In [20]:
dim_date = df_sales[['OrderDate']].drop_duplicates().reset_index(drop=True)
dim_date.insert(0, 'DateKey', range(1, len(dim_date) + 1))

dim_date['Year'] = dim_date['OrderDate'].dt.year
dim_date['Month'] = dim_date['OrderDate'].dt.month
dim_date['MonthName'] = dim_date['OrderDate'].dt.month_name()
dim_date['Day'] = dim_date['OrderDate'].dt.day
dim_date['DayName'] = dim_date['OrderDate'].dt.day_name()

unique_years = sorted(dim_date['Year'].unique())
year_mapping = {year: i + 1 for i, year in enumerate(unique_years)}
dim_date['year_id'] = dim_date['Year'].map(year_mapping).astype(int)

### Fact Tables

In [21]:
df_sales_mapped = df_sales.merge(dim_region, on=['Continent', 'City', 'State', 'CountryRegion'], how='left')
df_sales_mapped = df_sales_mapped.merge(dim_date, on='OrderDate', how='left')

fact_sales = df_sales_mapped[['DateKey', 'ProductKey', 'CustomerKey', 'RegionKey', 'Quantity', 'Net Price']]
fact_sales['SalesAmount'] = fact_sales['Quantity'] * fact_sales['Net Price']


fact_forecast = df_forecast[['CountryRegion', 'Brand', 'Forecast', 'Year']].drop_duplicates().reset_index(drop=True)
fact_forecast['year_id'] = fact_forecast['Year'].map(year_mapping).astype(int)

C:\Users\ahmed\AppData\Local\Temp\ipykernel_12040\3458481448.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_sales['SalesAmount'] = fact_sales['Quantity'] * fact_sales['Net Price']

### Saving Tables to CSV

In [22]:
dim_region.to_csv('data/dim_region.csv', index=False)
dim_product.to_csv('data/dim_product.csv', index=False)
dim_customer.to_csv('data/dim_customer.csv', index=False)
dim_date.to_csv('data/dim_date.csv', index=False)

fact_sales.to_csv('data/fact_sales.csv', index=False)
fact_forecast.to_csv('data/fact_forecast.csv', index=False)